/* Table style */
.site_table {
  .ant-table table {
    -webkit-box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    .ant-table-thead > tr > th {
      font-size: 0.9rem !important;
      text-align: center;
      padding: 0.45rem !important;
    }

    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      padding: 0 !important;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: none !important;
    }
  }
  .main-table {
    .ant-table {
      .ant-table-container {
        .ant-table-body {
          .ant-table-row.ant-table-row {
            max-height: 30px !important;
            height: 30px !important;
            .ant-table-cell.ant-table-cell {
              text-align: center;
              padding: 2px 4px !important;
              max-height: 30px !important;
            }
          }
        }
      }
    }
  }
}

.blue {
  background: #e7e7e7;
}
