.header {
  .site-header_top {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-left: 200px;
    .site-header {
      display: flex;
      .site-header_link {
        ul {
          list-style: none;
          li {
            display: inline-block;
            margin-left: 10px;
            span {
              padding: 0.2rem;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
