.header {
  .site-header_top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 230px;
    .site-header_page {
      span {
        font-size: 0.9rem;
        span {
          color: #7b809a;
        }
      }
    }
    .site-header {
      display: flex;
      .site-header_link {
        ul {
          list-style: none;
          li {
            display: inline-block;
            margin-left: 10px;
            a {
              color: #7b809a;
              span {
                padding: 0.2rem;
                font-size: 1rem;
              }
              svg {
                path {
                  fill: #7b809a;
                }
              }
            }
          }
        }
      }
    }
  }
  .site-navbar_left {
    background: #38383e;
    position: fixed;
    top: 20px;
    left: 10px;
    bottom: 20px;
    width: 210px;
    border-radius: 10px;
    .site-navbar_logo {
      img {
        width: 90%;
      }
    }
  }
}
